node_modules
.env
.env.local
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
deployments

# TypeScript
dist
*.tsbuildinfo

# Misc
.DS_Store
*.log
gas-report.txt
flattened/
